.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $primary-darkBlue;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primary-darkBlue;
    padding: 3px;
  }
  &:hover {
    background-color: $primary-darkBlue;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 .5rem 1rem rgba($black, 0.15);
    transform: translateY(0);
  }
}
