.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black,.4);
        border-radius: 2px;
        position: absolute;
        transition: all .2s ease-in-out;

        &:hover{
            box-shadow: 0 2.5rem 5rem rgba($black,.5);
            outline: 1.5rem solid $primary-darkBlue;
            z-index: 999;
            transform: scale(1.2);
            &:not(:hover){
                transform: scale(.5);
            }
        }

       


        &--p1{
            left:0;
            top: -2rem;
        }
        &--p2{
            right:0;
            top: 2rem;
        }
        &--p3{
            left:15%;
            top: 10rem;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }

}