.info-box{
    position: relative;
    background-color: rgba($lightGrey-1, 0.9);
    font-size: 2rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, .15);
    text-transform: none;
}