.notification{
    padding: 7px;
    position: fixed;
    background-color: rgba(247, 247, 247, 0.9);
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    @include respond(tab-port) {
        padding: 0;
        right:0;
        width: 100%;
    }

}



.btn-close{
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 1rem;
    @include respond(tab-port) {
        font-size: 3rem;
    }
}