.notification-container{
    position: fixed;
    background-color: $white;
    display: flex;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    @include respond(tab-port) {
        padding: 0;
        right:0;
        width: 100%;
    }

}

.notification{
    padding: 1rem;
    display: inline-block;
}


.btn-wrapper{
    display: flex;
    border-radius: 0 1rem 1rem 0;
    &:hover{
        cursor: pointer;
        background-color: $grey;
        color: $white !important;
    }
}
.btn-close{
    display: inline-block;
    padding: 0 1rem;
    align-self: center;
    font-size: 2rem;
    flex: 1 1;
    height: 100%;
    width: 100%;
    
    @include respond(tab-port) {
        font-size: 3rem;
    }
}