.notification{
    padding: 2rem;
    position: fixed;
    background-color: $white;
    bottom: 1rem;
    right: 1rem;
    border: 4px solid black;
    font-size: 2rem;
    text-align: center;
    @include respond(tab-port) {
        padding: 0;
        right:0;
        width: 100%;
    }

}



.btn-close{
    position: absolute;
    top:5px;
    right: 5px;
    @include respond(tab-port) {
        font-size: 3rem;
    }
}