.footer {
  background-color: $grey;
  position: relative;
  padding: 1rem 0 3rem 0;
  color: $white;
  @include respond(tab-port) {
    // height: 100%;
    padding: 3rem;
  }

  &__contact-box {
    &--home,
    &--phone,
    &--email {
      display: flex;
      align-items: center;
      @include respond(tab-port) {
        flex-direction: column;
        margin: 2rem 0 2rem 0;
      }
    }
    &--text {
      margin-left: 2rem;
      font-size: 1.75rem;
    }
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      // padding: 3rem 0;
    }
  }
  &__copyright-box {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    &--copyright {
      text-align: center;
    }
    &--text {
      padding: 0;
      font-size: 1.75rem;
    }
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      position: static;
    }
  }
  &__link-box {
    position: relative;

    margin-left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    // align-items: center;
    flex-direction: column;

    &--text {
      margin-left: 1rem;
      font-size: 1.75rem;
      @include respond(tab-port) {
        display: none;
      }
    }
    .footer__icon{
      @include respond(tab-port) {
       font-size: 5rem;
      }
    }
    @include respond(tab-port) {
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo-box {
    position: relative;
    width: 20vw;
    margin: 0 auto;
    padding: 5rem;
    @include respond(tab-port) {
      width: 60vw;
    }
  }

  &__logo {
    width: 100%;
    filter: invert(100%);
  }
  &__icon {
    @include respond(tab-port) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
