.footer {
  background-color: $grey;
  height: 50vh;
  position: relative;
  padding: 10rem 0;
  color:$white;

  &__contact-box{
      margin: 5rem;
      
      &--home{
        display: flex;
        align-items: center;
      }
      &--text{
          padding: 0 3rem;
          font-size: 1.75rem;
      }
  }

  &__logo-box {
    position: relative;
    width: 20vw;
    margin: 0 auto;
  }

  &__logo {
    width: 100%;
    filter: invert(100%);
  }
  &__icon {
    font-size: 3rem;
    font-weight: bold;

  }

  &__text-box {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
