

$primary-black: #5d5c61;
$primary-grey: #938E94;
$primary-lightBlue: #7395AE;
$primary-darkBlue: #557a95;
$primary-sandYellow: #b1a296;
$primary-brown:#977a62	;
$primary-lightBrown: #b19b96	;

$black: #000;
$white: #fff;
$lightBlack: #333;
$pinkRed: #d84797;
$grey: #2c363f;
$beige: #f2f5ea;
$lightGrey: #d6dbd2;
$lightGrey-1:#f7f7f7;
$paleGreen: #BBC7a4;
$blue : blue;
$green: white;






