.icon {
  &-small{
    font-size: 1.5rem;
  }  
  &-medium{
    font-size: 2rem;
  }  
  &-large{
    font-size: 4rem;
  }  
  &--black{
      color:$black;
  }  
  &--white {
    color: $white;
  }
}
