body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.72;
  color: $lightBlack;
}

.heading-primary {
  color: $white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  }

  &--sub {
    text-transform: none;
    display: block;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    font-family: 'Rokkitt';
    line-height: 5rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  font-family: 'Lato';
  // background-image: linear-gradient(to right, $primary-lightBlue, $primary-darkBlue,$primary-lightBlue);
  background-image: linear-gradient(
    to right,
    $primary-newRed,
    darken($primary-newRed, 5%)
  );
  // text-shadow: 1px 1px 10px rgba($black, 0.55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.or-spacer {
  width: 100%;
  position: relative;

  .mask {
    overflow: hidden;
    height: 20px;
    &:after {
      content: '';
      display: block;
      margin: -25px auto 0;
      width: 100%;
      height: 25px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 8px $primary-newRed;
    }
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
a.nostyle:link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
