.u-center-text{
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem;
}
.u-margin-bottom-small{
    margin-bottom: 1rem;
}

.u-divider{
    position:relative;
    top:0;
    bottom:0;
    border-left:1px solid black;
}