
.section-about{
    background-color:$primary-newBrown;
    // background-color: $lightGrey-1;
    padding: 30rem 0 40rem 0;
    margin-top: -20vh;
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features{
    padding:20rem 0;
    margin-top: -10rem;
    background-color: $primary-newBrown;
    background-image: url('img/Header2-6139.jpg');
   
    background-size: cover;
    background-position: bottom right;
    transform: skewY(-7deg);
    background-attachment: fixed;

    & > *{
        transform: skewY(7deg);
    }
    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-pricelist{

    // background-color: $lightGrey-1;
    background-color:$primary-newBrown;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}